{% extends 'base.html' %}
{% block title %}
hello
{% endblock title%}
{% block content %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}"  >Main Page ||</a>
            <a href="{% url 'edit_post' recipe_object.id %}">Edit</a>
        </nav>
    </header>
    <main>
        <h1 class="has_white_text"> {{ recipe_object.title }}</h1>
        <h2 class="has_white_text">{{recipe_object.description}}</h2>
        <h3> Created by {{ recipe_object.author.username }} </h3>
        <div class = "gridlayout">
            <div>
                <h3>
                    <a href="{{detail.html}}"> {{ recipe_object.title }}</a>
                </h3>
                <img src= "{{recipe_object.picture}} ">
            </div>
        </div>


    <table>
        <thead>
            <tr>
                <th> Amount </th>
                <th> Food Item </th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }} </td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        <tbody>
    </table>


        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instructions }}</li>
            {% endfor %}
        </ol>

    </main>
</body>
{% endblock content %}
