{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scrumptious Recipies</title>
    <link rel="stylesheet" href="{% static "css/recipe.css" %}">

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}" >Main Page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ post_object.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button>Save</button>
        </form>
    </main>
</body>

<footer class = "has_white_text">Made with love by Scrumptious Recipies</footer>
</html>
