{% extends 'base.html' %}

{%block title%} Scrumptious Recipies {%endblock title%}

    {% block content%}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}"  >Main Page || </a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <div>
            {% if user.is_authenticated %}
                hey there, {{ user.username }}
                <div><a href="{% url 'user_logout' %}">Log out!</a></div>
            {% else %}
                <a href="{% url 'signup' %}">Sign Up ||</a>
                <a href="{% url 'user_login' %}">Log In</a>
            {% endif %}
            </div>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
        </nav>
    </header>
    <main>

        <h1 class="has_white_text"> Scrumptious Recipes</h1>
        <h2 class="has_white_text">All the food that's fit to eat</h2>
        <div class = "gridlayout">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src= "{{ recipe.picture }} ">
                <div> {{recipe.rating}} </div>
                <p>{{ recipe.created_on|date:"F j Y" }}</p>
            </div>

            {% endfor %}
        </div>

    </main>
    {% endblock content%}
