
body{
    margin: 20px;
    padding: 20px;
    background-color: #00241B;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding: 10px 10px;
    color: white;

}

footer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:tan ;
    font-size: large;
    color: white ;
}

img{
    height: 200px;
    border-radius: 100px;
}

nav{
    border-bottom: 10px black;
    padding: 20px;
}

@keyframes example {
    from {background-color: #00241B;}
    to {background-color: #023020;}
  }


.has_white_text{
    color: whitesmoke;
    text-align: center;
    background-color: #00241B;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

.gridlayout{
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    column-gap: 25px;
    row-gap: 10px;


}

header{
    background-color: tan;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Gloock', serif;
}

img{
    box-shadow: 10px 5px 5px seashell;
}

.box{
    background-color: bisque;
    margin: 0

}

.centereverything{
    text-align: center;
}


td:nth-child(odd) {
    color: grey;
}
