{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/recipe.css" %}">
    <title>
        {%block title%}{%endblock title%}
    </title>

</head>
<body>
    {% block content%}{% endblock content%}
    <footer
        class = "has_white_text"> Made with love by Scrumptious Recipies
    </footer>
</body>
</html>
